@charset "EUC-KR";
/* detail_c */
.detail_c {
	margin-left: 8rem;
	background-color: #ddd;
}

.detail_c-content {
	display: flex;
	flex-direction: column;				 
	justify-content: center;
	align-items: center;
	padding-right: 3rem;
	padding-bottom: 3rem;
	padding-left: 3rem;
	padding-top: 0px;
	box-sizing: border-box;
}

.detail_c-img {
	width: 50rem;
}

.detail_c-heading {
/* 	margin: 1rem; */
	margin-top : 1px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 4rem;
	font-weight: 300;
	text-transform: uppercase;
	color: #555;
	font-family: 'Josefin Sans', sans-serif;
}

.detail_c-info {
	text-transform: uppercase;
	margin: 5rem 0;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3rem;
	color: #555;				   
}

.detail_c-underline {
	width: 20rem;
	height: .1rem;
	margin: 0 0 1rem 0;
	background-color: #b85d1c;
}

.detail_c-box {
	width: 300px; /* 원하는 너비설정 */
	padding: .8em .5em; /* 여백으로 높이 설정 */
	font-family: inherit; /* 폰트 상속 */
	border: 1px solid #999;
	border-radius: 0px; /* iOS 둥근모서리 제거 */
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
}

.detail_c-btn {
	/* 	position: absolute; */
	left: 50%;
	width: 15rem;
	height: 5rem;
	margin: 5rem;		  
	padding: .7rem .5rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.7rem;
	text-transform: uppercase;
	color: #b85d1c;
	background-color: transparent;
	border: .1rem solid #b85d1c;
	outline: none;
	cursor: pointer;
	box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, .2);
	transition: all .2s;
							 
}

.detail_c-btn:hover {
	color: #ddd;
	background-color: #b85d1c; 
	margin-left: 1.5rem;		
}

.detail_c-input {
	margin: 0rem;
	width: 20rem;
	height: 1rem;
	padding: .7rem .5rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	color: #b85d1c;
	background-color: transparent;
	border: .1rem solid #b85d1c;
	outline: none;
	cursor: pointer;
	box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, .2);
	transition: all .2s;
	text-align: center;
					   
}

.detail_c-link{
	margin-top :15px;
					 
	font-size : 15px;
	font-family: 'Montserrat', sans-serif;
	border: 3px;
	display : grid;
	grid-template-columns: 3fr 1fr;			
}

/* end of detail_c */

/* table */
.custom-table {
	margin: 3rem;
	min-width: 900px;
	text-align: center;
	border: none;
	background: #fff;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

/* .custom-table thead tr, .custom-table thead th {
	border-top: none;
	border-bottom: none;
} */

.custom-table tbody th, .custom-table tbody td {
	color: #777;
	padding-bottom: 20px;
	padding-top: 20px;
/* 	font-weight: 300; */
}

.custom-table tbody tr:not(.spacer) {
	border-radius: 7px;
	overflow: hidden;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.custom-table tbody tr:not(.spacer):hover {
	-webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
}

.custom-table tbody tr th, .custom-table tbody tr td {
	background: #fff;
	border: none;
}

.custom-table tbody tr th:first-child, .custom-table tbody tr td:first-child
	{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.custom-table tbody tr th:last-child, .custom-table tbody tr td:last-child
	{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.custom-table tbody tr.spacer td {
	padding: 0;
	height: 10px;
	border-radius: 0;
	background: transparent;
}
/* end of table */